@page
@model MegaDeskWeb.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <section class="container">
        <h1 class="row mx-auto">Quotes</h1>

        <a asp-page="Create">
            <button type="button" class="btn btn-primary row mx-auto">Create New Quote</button>
        </a>

            <div class="row">
                <form class="p-1">
                    <p>
                        Search by Customer: <input type="text" asp-for="SearchString" />
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            </div>

</section>
<table class="table tableBG">
    <thead>
        <tr>
            <th>
                <a asp-page="/Quotes/Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].RushDays)
            </th>
            <th>
                <a asp-page="/Quotes/Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.DeskQuote[0].QuoteDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].QuotePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].NumDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskQuote[0].MaterialString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskQuote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialString)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
